[Desktop Entry]
Name=Bygfoot
Comment=A simple football manager
Comment[pl]=Prosty menadżer piłkarski
Exec=bygfoot
Icon=bygfoot_icon
Terminal=false
Type=Application
Categories=Game;SportsGame;
# vi: encoding=utf-8
